<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"/>
    <link href="~/Content/css/main.css" rel="stylesheet" />
    </head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand text-primary font-weight-bold ml-5">INTEREST EXPLORER</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active font-weight-bold ml-5">Anasayfa</a>
            <div class="dropdown ml-5">
                <a class="dropbtn nav-item nav-link ">Filmler</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown ml-5">
                <a class="dropbtn nav-item nav-link ">Diziler</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown ml-5">
                <a class="dropbtn nav-item nav-link ">Video Oyunları</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown ml-5">
                <a class="dropbtn nav-item nav-link ">Kitaplar</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar-->
<div class="container">
    @RenderBody()
</div>
</body>
</html>

