<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">
    <!-- CSS -->
    <link href="~/Content/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/css/nouislider.min.css" rel="stylesheet" />
    <link href="~/Content/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/css/plyr.css" rel="stylesheet" />
    <link href="~/Content/css/photoswipe.css" rel="stylesheet" />
    <link href="~/Content/css/default-skin.css" rel="stylesheet" />
    <link href="~/Content/css/mainUsers.css" rel="stylesheet" />

</head>
<body>
<!--Header start-->
@Html.Action("Menu","Home")
    <!--Header end-->

    <div class="container">
        @RenderBody()
    </div>
    <!--Footer-->
    @Html.Action("Footer","Home")
</body>
</html>
<script src="~/Content/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/js/owl.carousel.min.js"></script>
<script src="~/Content/js/jquery.mousewheel.min.js"></script>
<script src="~/Content/js/jquery.mCustomScrollbar.min.js"></script>
<script src="~/Content/js/wNumb.js"></script>
<script src="~/Content/js/nouislider.min.js"></script>
<script src="~/Content/js/plyr.min.js"></script>
<script src="~/Content/js/jquery.morelines.min.js"></script>
<script src="~/Content/js/photoswipe.min.js"></script>
<script src="~/Content/js/photoswipe-ui-default.min.js"></script>
<script src="~/Content/js/main.js"></script>

