InterestExplorerApp.WebUI/Areas/* linguist-vendored
InterestExplorerApp.WebUI/Areas/admin/AdminLTE-master/AdminLTE-master/* linguist-vendored
InterestExplorerApp.WebUI/Areas/admin/AdminLTE-master/* linguist-vendored
InterestExplorerApp.WebUI/Areas/admin/* linguist-vendored
InterestExplorerApp.WebUI/Areas/admin/AdminLTE-master/AdminLTE-master/plugins/* linguist-vendored

